doctype html 
html 
    head 
        title Get Method Output 
    body 
       p First-Name: #{data.fname}
       p Middle-Name: #{data.mname}
       p Last-Name: #{data.lname}
       p Email: #{data.email}
       p Password: #{data.password}